#backGround{
    background-image: url('../images/night-sky-full-stars-beautiful-wallpaper_987687-99.jpg');
    min-height: 100vh;
    background-position: center center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(12, 12, 73);

}


#backGround .temp{
    background-color: #ffffff7b;
    box-shadow: 5px 15px 10px #fff inset;
    height: 20rem;
    width: 23.75rem;
}

.temps{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2rem;
}


.winds h3{
    font-size: 1.375rem;
}

h5{
    font-size: 1.625rem;
    color: rgb(12, 12, 95);
}

#tomMaxTemp , #afterTomMaxTemp{
    font-size: 1.375rem;
}

#tomMinTemp, #afterTomMinTemp{
    font-size: 1.1875rem;
}



@media screen and (max-width:576px) {
    html{
        font-size: 13px;
    }
	.temps{
        display: flex;
        flex-direction: column;
    }
    #backGround .temp{
        margin: 30px;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
	html{
        font-size: 14px;
    }
	.temps{
        display: flex;
        flex-direction: column;
    }
    #backGround .temp{
        margin: 30px;
    }
}





